nav[role="navigation"] div > p {
    color: white;
}

#likes:hover > div > ul {
    display: block !important;
    position: absolute;
    width: 200px;
    max-height: 100px;
    background-color: white;
    top: 0;
    right: -100%;
    margin-right: -125px;
    z-index: 1;
    overflow-y: scroll;
    font-size: .8rem;
}